body {
    padding: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 40%;
    height: 600px;
    background-color: beige;
    border: 2px;
}

h1 {
    color: rgb(103, 103, 34);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-button {
    width: 90%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#task-input {
    width: 80%;
    height: 100%;
}

.input-button input,
button {
    padding: 15px;
    border-color: transparent;
    border-radius: 20px;
    background-color: #dae3b6;
}


.todo-item {
    width: 87%;
    border-radius: 20px;
    background-color: #dae3b6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.todo {
    width: 60%;
    border: none;
    background: #dae3b6;
}

.input-button input:hover {
    background-color: #e3e7d1;
    ;
}

.done-todo {
    text-decoration: line-through;
}

button:hover {
    background-color: #e3e7d1;
    transition: 5ms;
}

button {
    border-radius: 40%;
}

.red-placeholder::placeholder {
    color: red;
}